/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

header {
    background-color: white;
    height: 70px;

}

img {
    height: 60px;
    vertical-align: bottom;
    margin-left: 15px;
    margin-top: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.name-banner{
    font-size: 3rem;
    font-weight: 900;
    line-height: 100%;
    display: inline-block;
    margin-left: 5px;
}